if SHIELD_TINY18_R

config ZMK_KEYBOARD_NAME
    string "tiny18"

config ZMK_BLE
    bool "Enable BLE"
    default y

config_ZMK_HID_KEYBOARD=y

config ZMK_SPLIT_ROLE_CENTRAL
    bool "Split Central Role"
    default y

config ZMK_BLE_ADV_TIMEOUT
    int "BLE advertising timeout (s)"
    default 0

config ZMK_BLE_ADV_INTERVAL
    int "BLE advertising interval (ms)"
    default 100

endif

if SHIELD_TINY18_R || SHIELD_TINY18_L

config ZMK_SPLIT
    bool "Enable Split"
    default y

config INPUT
    bool "Enable Input"
    default y

config ZMK_POINTING
    bool "Enable Pointing Device"
    default y

config RGBLED_WIDGET_BATTERY_LEVEL_HIGH
    int "Battery Level High Threshold"
    default 30

config RGBLED_WIDGET_BATTERY_LEVEL_CRITICAL
    int "Battery Level Critical Threshold"
    default 10

endif


config ZMK_HID_CONSUMER
    bool "Enable Consumer HID"
    default y

config ZMK_HID_MOUSE
    bool "Enable Mouse HID"
    default y
